/* button.css */
.stop-recording-button {
    background-color: #B22222;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    right: 40px;
    z-index: 1000;
}

.stop-recording-button:hover {
    background-color: #8B1A1A;
}
